[Unit]
Description=VSLearner inference service
After=network.target


[Service]
User=pi
WorkingDirectory=/home/pi/Project/VSLearner
Environment="PATH=/home/pi/VSLearner-env/bin"
ExecStart=/home/pi/VSLearner-env/bin/python services/inference_service.py
Restart=always


[Install]
WantedBy=multi-user.target